<%- include ('./partials/header.ejs') %>



<div class="w3-content w3-padding" style="max-width:1564px; min-height: -webkit-fill-available;">



  <div class="w3-container w3-padding-32" id="loginform">
    <h2 class="w3-border-bottom w3-border-light-grey w3-padding-16 w3-padding-64-top"><b>Edit</b></h2>
    <p>Admins can edit products here!</p>
    <form action="/login" method="POST">
    </form>
  </div>
  <div class="w3-container w3-padding-32">
  </div>


  



</div>

</div>

<div class="svgWave">
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
    </g>
    </svg>
    </div>
    <!--Waves end-->

<!-- Footer -->
<footer class="w3-center w3-white w3-padding-16" style="bottom: 0;">
  <p>Powered by <a title="W3.CSS" target="_blank" class="w3-hover-text-green">Varsity College</a></p>
</footer>

</body>
</html>